// Colores corporativos
$color-bg: #f6ead8;
$color-text: #2b546b;
$color-accent: #98c7e0;
$color-card: #a9d3e1;
$color-img-bg: #dbe4f5;

// Tipografías
$h2-mobile: 1.9rem;
$h2-desktop: 2.2rem;

$p-mobile: 1.05rem;
$p-desktop: 1.15rem;

// Espaciados
$space-1: 0.625rem;
$space-2: 1rem;
$space-3: 1.25rem;
$space-4: 1.875rem;
$space-5: 2.1875rem;
$space-6: 3.125rem;
$space-7: 5.625rem;

// Tema (para el condicional)
$tema-actual: 'light';